footer.footer
    div.container.footer__wrapper
        div.footer__about
            a.footer__heading REFACTORY.IO 
            span by  
            a.footer__author(href="https://twitter.com/ilyas_assainov") ilyasassainov
            p.footer__description A community of developers who always strive for improvement.