aside.sidebar
    section.box.p2
        p.mb2 Welcome to Refactory! We're the community helping each other by refactoring code! Post your code anonymously and others will try to help you.
        a.button.button--alternative(href="/sign-up") Join Us!
    section
        .box.p2.mb2
            a.box__heading-link(href="/problems") Browse by problem
        ul.box__list
            li.box__list-item
                a.box__item-link(href="/problems/readability") 
                    .box__icon
                    span Readability
            li.box__list-item
                a.box__item-link(href="/problems/performance") 
                    .box__icon
                    span Performance
            li.box__list-item
                a.box__item-link(href="/problems/memory") 
                    .box__icon
                    span Memory
            li.box__list-item
                a.box__item-link(href="/problems/dry") 
                    .box__icon
                    span DRY