// Colors
$color-highlight: #5163ba;

$color-text-heading: #000;

$color-text-lighter: #6e7887;
$color-text-darker: #4a5669;
$color-text-dark-bg: #9197b9;
$color-text-highlight: #5163ba;

$color-white: #fff;
$color-black: #000;

$color-background-darkest: #1a1f35;


$color-twitter: #1DA1F2;