.button {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        line-height: 3.5rem;
        padding: 1rem;
        border: $border-width-thin solid $color-border-light;
        border-radius: 2px;
        font-size: 1.4rem;
        text-decoration: none;
    }

    &--highlight {
        &,
        &:link,
        &:visited {
            border-color: $color-text-highlight;
            background-color: $color-text-highlight;
            color: $color-white;
        }
    }

    &--alternative {
        &,
        &:link,
        &:visited {
            border-color: $color-text-alternative;
            background-color: $color-text-alternative;
            color: $color-white;
        }
    }
}